@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #000000;
}

/* Iphone SE sampai Desktop 4K */
/* .responsive-container {
  width: min(100% - 2rem, 1280px);
  margin-inline: auto;
} */
#root {
  overflow-x: hidden;
  width: 100%;
}
